body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  #dashboard {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  .message-agent {
  /* background-color: #e1f5fe; */
  color: #0277bd;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

.message-contact {
  background-color: #e4e4e4;
  color: #000;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}
